FLASK_ENV=development
AZURE_CONTENT_SAFETY_ENDPOINT=https://your-resource-name.cognitiveservices.azure.com
AZURE_CONTENT_SAFETY_KEY=your_azure_content_safety_key
SECRET_KEY=change_this_for_deployment
